## Rename this file to `.env` so it takes effect in your environment.
## Note that `.env` is ignored in source control.
## Change any of the variables needed to configure the application.

# The bot's token used to login to Discord
DISCORD_TOKEN=your_token_goes_here

# The client id of the bot application
CLIENT_ID=2399176142819800281

# The id of the guild used to test/develop the bot
DEV_GUILD_ID=256785436789654344

# The name of the database in which to store data
DATABASE_NAME=pingbot

# The username credential to log into the database
DATABASE_USER=pingbot

# The password credential to log into the database
DATABASE_PASSWORD=1234

# The address to the database host (typically localhost)
DATABASE_HOST=localhost

# The type of database being used (see Sequelize module to learn more)
DATABASE_DIALECT=sqlite

# The interval in milliseconds in which to check the status of a tracked game
MS_TO_UPDATE_GAME_STATUS=60000

# Max number of games that can be tracked
MAX_TRACKED_GAMES=500

# Max number of channels in which a game can be tracked
MAX_CHANNELS_FOR_TRACKED_GAME=30

# Max number of channels that a single user can track
MAX_CHANNELS_PER_USER=10
